{% load static %}
<br/>

<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body class="center">
    <nav class="navbar navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="#">{{ user }}</a>
        {% if user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'logout' %}">로그아웃</a>
        {% else %}
        <div>
          <a class="navbar-brand" href="{% url 'signup' %}">회원가입</a>
          <a class="navbar-brand" href="{% url 'login' %}">로그인</a>
        </div>
        
        {% endif %}
        
    </nav>
    <article id="activ">
        <h1 class="border-left border-primary">게시판</h1>
        <table class="table mt-5">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">작성자</th>
                <th scope="col" class="text-center">제목</th>
                <th scope="col" class="text-right">일시</th>
              </tr>
            </thead>
            <tbody>      
            {% for post in posts %}
              <tr>
                <th scope="row">{{ post.id }}</th>
                <th scope="row">{{ post.user }}</th>
                <td class="text-center"></strong><a href="{% url 'detail' post.id %}">{{ post.title }}</a></td>
                <td class="text-right">{{ post.date }}</td>
              </tr>
            {% endfor %}
              <tr>
            
              
            </tbody>
          </table>
              <a href="{% url 'new' %}"> <button class="btn btn-outline-secondary" type="button" id="button-addon2">새 글 작성</button></a>
          </div>
    </article>

</body>
</html>